*{margin:0; padding:0;}
a {text-decoration:none; }
.clearfix{overflow:auto;}
.wrapper{
	margin: 0 auto;
	width: 1000px;
	
}
.header-link{
	width: 1000px;
	
	float: right;
}
.header-link ul{
	margin:15px;
	list-style: none;
	margin-left: 500px;
}
.header-link ul li {
	padding: 0 10px;
	display: inline-block;
	border-right: 1px solid brown;
}
.header-link ul li:last-child{
	border:0px;
}
.header-link ul li a{
	color: white;
	font-size: 20px;
}
.header-link ul li a:link{
	color: white;
	text-decoration: none;
}
.header-link ul li a:visited{
	color: white;
	text-decoration: none;
}
.header-link ul li a:hover{
	color: red;
	text-decoration: underline;
}
.header-link ul li a:active{
	color: yellow;
	text-decoration: underline;
}

.tmr p{
	margin-left: 330px;
	font-size: 18px;
	color: white;
}
.img{
	background-color:#330000;
	height: 500px;
}
.tmr h1{
	margin-left: 370px;
	font-size: 32px;
	color: white;
}
.boxed1{
	margin-top:30px;   
	float:left;
	width: 310px;
	padding: 20px;
	height: 250px;
	border:1px white;
	border-radius: 5px;
	background-color:white 
	padding-left: 100px;
}
.boxed1 p{
	color: white;
	line-height: 25px;
}
.boxed2{
	margin-left: 270px;
	margin-top:30px;   
	width: 310px;
	padding: 20px;
	height: 130px;
	border:1px ;
	border-radius: 80px;
 
	padding-left: 100px;
}
.boxed3{
	margin-left: 570px;
	margin-top:-150px;   
	width: 310px;
	padding: 20px;
	height: 130px;
	border:1px ;
	border-radius: 80px;
 
	padding-left: 100px;
}
.boxed3 h5{
	color: white;
}	
.boxed3 p{
	color: white;
}
/*----------------footer----------------------*/


footer{

	
	width: 1000px;
	background-color:#222;
	height: 155px;


}
.socialmedia ul
{	 
	display: flex;
	position: absolute;
	left: 50%;
	margin-top: 73px;
	transform: translate(-50%,-50%);
}
.socialedia ul li
{
	list-style:none; 
}
.socialmedia ul li a 
{
	width: 35px;
	height: 35px;
	background: white;
	text-align: center;
	line-height:30px;
	font-size: 15px;
	margin:0 10px;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 2px solid #003300;
	z-index: 1;
}
.socialmedia ul li a .fa
{
	position:relative;
	color:#003300;
	transition: .5s; 
	z-index: 3;
}

.socialmedia ul li a:hover .fa
{
	color: #fff;
	transform:rotateY(360deg); 
}
.socialmedia ul li a:before
{
	content: '';
	position: absolute;
	top:100%;
	left:0;
	width:100%;
	height: 100% ;
	background:#f00;
	transition: .5s; 
	z-index: 2;
}
.socialmedia ul li a:hover:before
{
	top: 0;
}
.socialmedia ul li:nth-child(1) a:before
{
	background: #3b5999;
}
.socialmedia ul li:nth-child(2) a:before
{
	background: #0077B5;
}
.socialmedia ul li:nth-child(3) a:before
{
	background: #55acee;
}
.socialmedia ul li:nth-child(4) a:before
{
	background: #e4405f;
}
.socialmedia ul li:nth-child(5) a:before
{
	background: #bd081c;
}







